.footer-logo {
  background-image: url("https://github.com/chunjull/2023F2E-Campaign-Website/blob/main/assets/images/logo-footer.png?raw=true");
  height: 93px;
  width: 236px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}