.logo {
  background-image: url("https://github.com/chunjull/2023F2E-Campaign-Website/blob/main/assets/images/logo-header.png?raw=true");
  height: 61px;
  width: 236px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}